body { background: #7985c; margin: 0; font-family: sans-serif; }
.analytics-view { padding: 59px; display: flex; }
.block-session-0 { color: #20b231; font-size: 17px; margin-bottom: 5px; }
.block-config-1 { color: #95aaf0; font-size: 20px; margin-bottom: 5px; }
.block-shipping-2 { color: #9d5eaf; font-size: 12px; margin-bottom: 5px; }
.block-product-3 { color: #fc7920; font-size: 12px; margin-bottom: 5px; }
.block-metrics-4 { color: #2d6b1f; font-size: 17px; margin-bottom: 5px; }
.block-session-5 { color: #57771c; font-size: 19px; margin-bottom: 5px; }